.cadastro-page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 100vw;
    height: 100%;
    color: #FFFFFF;
    margin-bottom: 5%;
    overflow: hidden; 
    z-index: 0;
}

.cadastro-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: 
        url('../../assets/garras.png'),
        url('../../assets/garras.png'),
        url('../../assets/garras.png'),
        url('../../assets/garras.png'),
        url('../../assets/garras.png'),
        url('../../assets/garras.png');
    background-size: 300px auto, 280px auto, 200px auto, 230px auto, 270px auto, 200px auto;
    background-position: 20% 20%, 70% 40%, 40% 89%, 5% 70%, 90% 100%, 70% 60%;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.cadastro-page .title{
    margin-bottom: -1rem;
}

.cadastro-page h2{
    font-family: 'Inter';
    font-size: 32px;
}

.cadastro-container{
    width: 79%;
}
.cadastro-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-inline: 5% ;
}

.cadastro-form label{
    font-family: 'Inter';
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.cadastro-form input{
    font-family: 'Inter';
    width: 90%;
    border-radius: 10px;
    border: 1px solid #cfcece;
    height: 2.8rem;
    margin-bottom: 0.9rem;
    padding-inline: 1rem;
    font-size: 1.1rem;
}

.rg-buttons{
    margin-bottom: 0.9rem;
}

.cadastro-button-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
