.main-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    background-image: url('../../assets/LogoFuria.svg');
    background-position: center;
    background-size: 45vh;
    background-repeat: no-repeat;
    background-position: 5% 60vh;
    min-height: 100vh;
    padding-bottom: 5%;
}

.title {
    font-family: 'Koulen', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    margin: 0px;
    text-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.6),     
      0 0 10px #FFD700;
  }
  

.fury-fire {
    color: #FFFFFF;
    text-shadow:
      0 0 5px #ff9900,
      0 0 10px #ff6600,
      0 0 15px #ff3300,
      0 0 20px #ff0000;
    animation: flameFlicker 1s infinite alternate;
  }
  
  @keyframes flameFlicker {
    0% {
      text-shadow:
        0 0 4px #ff9900,
        0 0 8px #ff6600,
        0 0 12px #ff3300,
        0 0 16px #ff0000;
    }
    100% {
      text-shadow:
        0 0 6px #ffff33,
        0 0 12px #ff9900,
        0 0 18px #ff6600,
        0 0 24px #ff3300;
    }
  }
  

.main-page h2 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 0px;
}

.main-page p{
    font-family: 'Kulim Park', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

.main-page h3{
    font-family: 'Lacquer', sans-serif;
    font-size: 32px;
    width: 30%;
    text-align: center;
    -webkit-text-stroke: 0.1px #F6FF00;
    color: #000000;
}

